@{
    ViewData["Title"] = "Welcome!";
}
<h2>@ViewData["Title"]</h2>

<p>You are now logged in!</p>
<p>What would you like to do next?<br>
    Manage account<br>
   <a href="Home/Logout">Logout</a>
                  
</p>
